@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}
.body {
  mix-blend-mode: multiply;
}
.smallImg {
  border: 1px solid grey;
  cursor: pointer;
}
a {
  color: #007185;
  text-decoration: none;
}
/**utlitites*/
.priceColor {
  color: #b22a07;
}

.button {
  border: none;
  border-radius: 8px;

  cursor: pointer;
}

/*main */
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/*advertising_bar */
#advertising_bar {
  position: relative;
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: center;
  background-color: #edeff1;
}

#advertising_bar a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.advertising_bar_product_details {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}

/* catagory links*/
#catagory {
  margin-left: 1rem;
}
#catagory a {
  font-size: 0.6rem;
  text-decoration: none;
  color: #565959;
}

/* product details section*/
#products_details {
  display: flex;
  height: 80vh;
  width: 100vw;
  align-items: center;
  padding: 0 1rem 0;
  gap: 1rem;
}
/* product details section left column*/
#products_details_left_col {
  width: 40vw;
}
.product_profileImg {
  display: flex;

  width: 100%;
}

.productImgs {
  flex: 5%;
  height: 50%;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.productImg {
  width: 2.5rem;
  height: 2rem;
}
.productImg:not(:last-child) {
  margin-bottom: 1rem;
}
.magnifiedImg {
  flex: 80%;
}
.magnifiedImg img {
  height: 100%;
  width: 100%;
}
/* product details section center column*/
#products_details_center_col {
  max-width: 30vw;
  width: 90%;
}
.prodcut_order_details {
  width: 90%;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.sourceBrand a {
}

.nameProduct h2 {
  color: #565959;
  font-weight: 400;
}
.fillStar {
  color: #c7511f;
}
.prodcut_order_details_main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tag {
  margin-right: 0.5rem;
}
.tag:not(.fit > .tag) {
  color: #56626a;
}
.price {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}
.price_amount {
  font-size: 1.2rem;
}
.selectButton {
  background-color: #f0f2f2;
  border-radius: 5px;
  width: 5rem;
  padding: 0.5rem;
}
.colors_imgs {
  margin-top: 0.5rem;
}
.colors_imgs img {
}
.prodcut_order_details_footer ul li {
  margin-left: 1rem;
}
/* product details section right col*/
#products_details_right_col {
  padding: 2rem;
  max-width: 20vw;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  gap: 1rem;
}

.addCart_container {
  border: 1px solid grey;
  min-width: fit-content;
  width: 14rem;
  height: 8rem;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
  justify-content: space-around;
  gap: 0.5rem;
}
.addCart_button {
  display: flex;
  height: 2rem;
  flex-direction: column;
  gap: 0.5rem;
}

.addCart_button button,
.addToList button {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 0.4rem 0;
  cursor: pointer;
}
.addCart_button button {
  background-color: #ffd814;
}
.addToList {
  border-top: 1px solid #e0e0e0;
  padding-top: 0.5rem;
}
.sellToAmazon {
  width: 8rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: center;
}
.sellToAmazon button {
  padding: 0.4rem;
  background-color: white;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.products_details_right_col_advertising {
  position: relative;
  border: 1px solid rgb(207, 200, 200);
  padding: 0.5rem;
}
.products_details_right_col_advertising {
  padding: 0.5rem;
}

.products_details_right_col_advertising_img img {
  padding: 0.5rem;
  width: 13rem;
  height: 8rem;
}
.products_details_right_col_advertising a {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.advertising_details_product_price img {
  width: 30px;
  height: 10px;
}

/** trend_related_products section */
#trend_related_products {
  border-top: 1px solid rgb(207, 200, 200);

  padding: 1rem 1rem;
  position: relative;
}
#trend_related_products .arrow_right,
#trend_related_products .arrow_left {
  top: 50%;
  font-size: 1rem;
  position: absolute;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgb(207, 200, 200);
}
.arrow_right {
  right: 10px;
}
.arrow_left {
  left: 10px;
}

.trend_related_products_heading {
  display: flex;
  justify-content: space-between;

  align-items: center;
  height: 2rem;
  margin-bottom: 2rem;
}

.trend_related_products_carousal {
}

#trend_related_products .carousal_list {
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 1rem;
  padding: 0 1rem;
}

#trend_related_products .carousal_list_item {
  list-style: none;
}

#trend_related_products .carousal_list_item:last-child {
}

#trend_related_products .carousal_list_item_img {
  width: 10rem;
}

#trend_related_products .carousal_list_item_img img {
  width: 8rem;
  height: 8rem;
}

.carousal_list_item_rating_stars {
}
